<ng-template #itemRowSkeleton>
  <app-row-item-skeleton></app-row-item-skeleton>
</ng-template>

<div class="mat-headline-1 category-title">{{ category }}</div>

<div class="category-controls">
  <mat-form-field appearance="fill">
    <mat-label>items / page</mat-label>
    <mat-select
      matNativeControl
      [(ngModel)]="pageSize"
      (selectionChange)="refetch()"
    >
      <mat-option *ngFor="let option of pageSizeValues" [value]="option">
        {{ option }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>page</mat-label>
    <input
      matInput
      type="number"
      min="1"
      [(ngModel)]="page"
      (change)="refetch()"
    />
  </mat-form-field>
</div>
<div
  class="category-container"
  *ngIf="productsResult$ | async as productsResult; else itemRowSkeleton"
>
  <app-item-row
    *ngFor="let product of productsResult.products"
    [product]="product"
  ></app-item-row>
</div>
