@mixin cart-theme($theme)
    $primary: map-get($theme,primary)
    $accent: map-get($theme,accent)
    .cart-title
        font-size: 3.5rem
        font-weight: bold
        text-transform: capitalize
        color: map-get($primary,800 )
    .cart-item-link
        text-decoration: none
        color: map-get($primary,800 )
        cursor: pointer
        font-weight: bold
    .cart-empty-text
        font-size: 3.5rem
        text-align: center
        font-weight: bold
        color: map-get($accent,800 )
    .cart-content-container
        width: 70%
        margin: 2rem auto 0 auto

    .cart-item-list
    .cart-buttons-container
        display: flex
        justify-content: start
        gap: 1rem
        align-items: center
        font-weight: bold
    .cart-plus-minus-button
        font-weight: bold
        width: fit-content
        border-radius: 3rem
