@mixin cart-theme($theme)
    $primary: map-get($theme,primary)
    $accent: map-get($theme,accent)
    .cart-title
        font-size: 3.5rem
        font-weight: bold
        text-transform: capitalize
        color: map-get($primary,800 )
    .cart-item-list
    .cart-buttons-container
        display: flex
        justify-content: start
        gap: 1rem
        align-items: center
        font-weight: bold
    .cart-plus-minus-button
        font-weight: bold
        width: fit-content
        border-radius: 3rem
