<div class="categories-skeleton-container">
  <ngx-skeleton height="3rem" width="14rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="8rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="10rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="5rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="11rem"></ngx-skeleton>

  <ngx-skeleton height="3rem" width="14rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="8rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="10rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="5rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="11rem"></ngx-skeleton>

  <ngx-skeleton height="3rem" width="14rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="8rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="10rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="5rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="11rem"></ngx-skeleton>

  <ngx-skeleton height="3rem" width="14rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="8rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="10rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="5rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="11rem"></ngx-skeleton>

  <ngx-skeleton height="3rem" width="14rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="8rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="10rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="5rem"></ngx-skeleton>
  <ngx-skeleton height="3rem" width="11rem"></ngx-skeleton>
</div>
