<div class="row-item-skeleton-loader-container">
  <div class="row-item-skeleton-container">
    <div class="row-item-skeleton-left-side">
      <ngx-skeleton
        class="row-item-skeleton"
        height="2rem"
        width="20rem"
      ></ngx-skeleton>
      <ngx-skeleton
        class="row-item-skeleton"
        height="10rem"
        width="20rem"
      ></ngx-skeleton>
    </div>
    <div class="row-item-skeleton-right-side">
      <ngx-skeleton
        class="row-item-skeleton"
        height="2rem"
        width="10rem"
      ></ngx-skeleton>
      <ngx-skeleton
        class="row-item-skeleton"
        height="2rem"
        width="15rem"
      ></ngx-skeleton>
      <div class="row-item-skeleton-right-side-cart">
        <ngx-skeleton
          class="row-item-skeleton"
          height="2.5rem"
          width="4.5rem"
        ></ngx-skeleton>
        <ngx-skeleton
          class="row-item-skeleton"
          height="2.5rem"
          width="4.5rem"
        ></ngx-skeleton>
        <ngx-skeleton
          class="row-item-skeleton"
          height="2.5rem"
          width="4.5rem"
        ></ngx-skeleton>
      </div>
      <ngx-skeleton
        class="row-item-skeleton"
        height="4rem"
        width="15rem"
      ></ngx-skeleton>
    </div>
  </div>

  <div class="row-item-skeleton-container">
    <div class="row-item-skeleton-left-side">
      <ngx-skeleton
        class="row-item-skeleton"
        height="2rem"
        width="20rem"
      ></ngx-skeleton>
      <ngx-skeleton
        class="row-item-skeleton"
        height="10rem"
        width="20rem"
      ></ngx-skeleton>
    </div>
    <div class="row-item-skeleton-right-side">
      <ngx-skeleton
        class="row-item-skeleton"
        height="2rem"
        width="10rem"
      ></ngx-skeleton>
      <ngx-skeleton
        class="row-item-skeleton"
        height="2rem"
        width="15rem"
      ></ngx-skeleton>
      <div class="row-item-skeleton-right-side-cart">
        <ngx-skeleton
          class="row-item-skeleton"
          height="2.5rem"
          width="4.5rem"
        ></ngx-skeleton>
        <ngx-skeleton
          class="row-item-skeleton"
          height="2.5rem"
          width="4.5rem"
        ></ngx-skeleton>
        <ngx-skeleton
          class="row-item-skeleton"
          height="2.5rem"
          width="4.5rem"
        ></ngx-skeleton>
      </div>
      <ngx-skeleton
        class="row-item-skeleton"
        height="4rem"
        width="15rem"
      ></ngx-skeleton>
    </div>
  </div>

  <div class="row-item-skeleton-container">
    <div class="row-item-skeleton-left-side">
      <ngx-skeleton
        class="row-item-skeleton"
        height="2rem"
        width="20rem"
      ></ngx-skeleton>
      <ngx-skeleton
        class="row-item-skeleton"
        height="10rem"
        width="20rem"
      ></ngx-skeleton>
    </div>
    <div class="row-item-skeleton-right-side">
      <ngx-skeleton
        class="row-item-skeleton"
        height="2rem"
        width="10rem"
      ></ngx-skeleton>
      <ngx-skeleton
        class="row-item-skeleton"
        height="2rem"
        width="15rem"
      ></ngx-skeleton>
      <div class="row-item-skeleton-right-side-cart">
        <ngx-skeleton
          class="row-item-skeleton"
          height="2.5rem"
          width="4.5rem"
        ></ngx-skeleton>
        <ngx-skeleton
          class="row-item-skeleton"
          height="2.5rem"
          width="4.5rem"
        ></ngx-skeleton>
        <ngx-skeleton
          class="row-item-skeleton"
          height="2.5rem"
          width="4.5rem"
        ></ngx-skeleton>
      </div>
      <ngx-skeleton
        class="row-item-skeleton"
        height="4rem"
        width="15rem"
      ></ngx-skeleton>
    </div>
  </div>
</div>
