@use "@angular/material" as mat;

$dark-primary: mat.define-palette(
  (
    50: #fdf5e6,
    100: #fbe7c1,
    200: #f9d798,
    300: #f6c66e,
    400: #f4ba4f,
    500: #f2ae30,
    600: #f0a72b,
    700: #ee9d24,
    800: #ec941e,
    900: #e88413,
    A100: #ffffff,
    A200: #fff1e4,
    A400: #ffd8b1,
    A700: #ffcb97,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

$dark-accent: mat.define-palette(
  (
    50: #f6ece1,
    100: #e9cfb4,
    200: #daaf83,
    300: #cb8f51,
    400: #bf772b,
    500: #b45f06,
    600: #ad5705,
    700: #a44d04,
    800: #9c4303,
    900: #8c3202,
    A100: #ffccb8,
    A200: #ffa785,
    A400: #ff8252,
    A700: #ff7039,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

$dark-warn: mat.define-palette(mat.$deep-orange-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);
