@use "@angular/material" as mat;

$dark-accent: mat.define-palette(
  (
    50: #fdf5e6,
    100: #fbe7c1,
    200: #f9d798,
    300: #f6c66e,
    400: #f4ba4f,
    500: #f2ae30,
    600: #f0a72b,
    700: #ee9d24,
    800: #ec941e,
    900: #e88413,
    A100: #ffffff,
    A200: #fff1e4,
    A400: #ffd8b1,
    A700: #ffcb97,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

$dark-primary: mat.define-palette(
  (
    50: #e1e9eb,
    100: #b3c8cd,
    200: #81a4ac,
    300: #4e808b,
    400: #286472,
    500: #024959,
    600: #024251,
    700: #013948,
    800: #01313e,
    900: #01212e,
    A100: #67c9ff,
    A200: #34b7ff,
    A400: #01a5ff,
    A700: #0095e6,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #ffffff,
      400: #ffffff,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #ffffff,
      A700: #ffffff,
    ),
  )
);

$dark-warn: mat.define-palette(mat.$deep-orange-palette);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
  )
);
