@use "@angular/material" as mat;

$light-accent: mat.define-palette(
  (
    50: #fdf5e6,
    100: #fbe7c1,
    200: #f9d798,
    300: #f6c66e,
    400: #f4ba4f,
    500: #f2ae30,
    600: #f0a72b,
    700: #ee9d24,
    800: #ec941e,
    900: #e88413,
    A100: #ffffff,
    A200: #fff1e4,
    A400: #ffd8b1,
    A700: #ffcb97,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

$light-primary: mat.define-palette(
  (
    50: #e8f0f8,
    100: #c5daee,
    200: #9ec2e3,
    300: #77aad7,
    400: #5a97cf,
    500: #3d85c6,
    600: #377dc0,
    700: #2f72b9,
    800: #2768b1,
    900: #1a55a4,
    A100: #dae9ff,
    A200: #a7caff,
    A400: #74abff,
    A700: #5b9cff,
    contrast: (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000,
    ),
  )
);

$light-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
  )
);
