<div class="cart-table-skeleton-container">
  <ngx-skeleton width="100%" height="4rem"></ngx-skeleton>
  <div class="cart-table-skeleton-rows">
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
  </div>

  <div class="cart-table-skeleton-rows">
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
  </div>

  <div class="cart-table-skeleton-rows">
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
  </div>

  <div class="cart-table-skeleton-rows">
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
    <ngx-skeleton width="100%" height="5rem"></ngx-skeleton>
  </div>

  <ngx-skeleton width="100%" height="4rem"></ngx-skeleton>
</div>
